language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

before_script:
    - echo "extension = xdebug.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - composer self-update
    - composer install --prefer-source --no-interaction

script:
    - bin/phpspec run
